@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
.display-block {
  display: block !important;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  font-family: 'Commissioner', sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url("../images/image-hero-mobile.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem 2rem 14rem;
}

header .menu-backgrop {
  display: none;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), color-stop(rgba(0, 0, 0, 0.3)), to(transparent));
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3), transparent);
  width: 100%;
  height: calc( 100vh + 100vh);
  -webkit-transform: translateX(-2rem);
          transform: translateX(-2rem);
  z-index: 99;
}

header .links {
  display: none;
  position: absolute;
  left: 2rem;
  top: 6rem;
  width: calc(100% - 4rem);
  list-style: none;
  background: white;
  border-radius: .5rem;
  z-index: 100;
}

header .links .link {
  padding: 1.25rem 1rem;
  border-bottom: 1px solid grey;
}

header .links .link a {
  color: black;
  font-weight: 600;
  text-decoration: none;
}

header .links .link:last-of-type {
  border: none;
}

header .hamburger-menu {
  width: 20px;
  height: 20px;
  background: url("../images/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: .25rem;
  cursor: pointer;
  z-index: 101;
}

.button {
  padding: 1rem 2.5rem;
  border-radius: 2rem;
  border: none;
  background: #3cb4ac;
  color: white;
  font-weight: 700;
  font-size: 1.05rem;
}

.button:hover {
  background: #147b74;
}

.button:active {
  background: #147b74;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem 4rem;
  gap: 2rem;
  background: whitesmoke;
}

.upper-section {
  text-align: center;
  width: 100%;
  -webkit-transform: translateY(-3rem);
          transform: translateY(-3rem);
  background: white;
  padding: 0 2rem;
  border-radius: 1rem;
  -webkit-box-shadow: 2px 2px 8px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 8px 8px rgba(0, 0, 0, 0.1);
}

.upper-section #circleLogo {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.upper-section h1 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.upper-section p {
  color: #7a7a7a;
}

.upper-section .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
}

.upper-section .buttons svg:hover circle {
  fill: #147b74;
}

.upper-section .buttons svg:hover path {
  fill: white;
}

.upper-section .buttons svg:active circle {
  fill: #147b74;
}

.upper-section .buttons svg:active path {
  fill: white;
}

.fund-raiser__section, .about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 100%;
  padding: 2rem;
  background: white;
  border-radius: 1rem;
  -webkit-box-shadow: 2px 2px 8px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 8px 8px rgba(0, 0, 0, 0.1);
}

.fund-raiser__section .fund-raiser__info, .about-section .fund-raiser__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  line-height: 1.5;
}

.fund-raiser__section .fund-raiser__info p, .about-section .fund-raiser__info p {
  color: #7a7a7a;
}

.fund-raiser__section .fund-raiser__info .backers, .about-section .fund-raiser__info .backers {
  position: relative;
}

.fund-raiser__section .fund-raiser__info .backers::before, .about-section .fund-raiser__info .backers::before {
  content: '';
  position: absolute;
  top: -.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30%;
  height: 1px;
  background: #7a7a7a;
}

.fund-raiser__section .fund-raiser__info .backers::after, .about-section .fund-raiser__info .backers::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -1rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30%;
  height: 1px;
  background: #7a7a7a;
}

.fund-raiser__section .progress-bar, .about-section .progress-bar {
  position: relative;
  width: 100%;
  height: 1rem;
  margin-top: 2rem;
  background: #b3b3b3;
  border-radius: 2rem;
}

.fund-raiser__section .progress-bar .progress, .about-section .progress-bar .progress {
  position: absolute;
  height: 100%;
  width: 90%;
  background: #3cb4ac;
  border-radius: 2rem;
}

.about-section {
  text-align: inherit;
  gap: 2rem;
}

.about-section p {
  color: #7a7a7a;
}

.about-section .reward-card {
  padding: 1rem;
  width: 100%;
  border-radius: .5rem;
  -webkit-box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.2);
}

.about-section .reward-card h3 {
  font-size: 1.2rem;
}

.about-section .reward-card h3 span {
  display: block;
  color: #3cb4ac;
}

.about-section .reward-card p {
  margin: 1.5rem 0;
}

.about-section .reward-card h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  color: #7a7a7a;
  margin-bottom: 1.5rem;
}

.about-section .reward-card h4 span {
  font-size: 1.75rem;
  color: black;
}

.about-section .reward-card:last-of-type h3 {
  color: #7a7a7a;
  opacity: .6;
}

.about-section .reward-card:last-of-type h3 span {
  color: #94dbd7;
}

.about-section .reward-card:last-of-type p {
  opacity: .6;
}

.about-section .reward-card:last-of-type h4 {
  opacity: .6;
}

.about-section .reward-card:last-of-type h4 span {
  color: #7a7a7a;
}

.about-section .reward-card:last-of-type .button {
  opacity: .6;
  background: #7a7a7a;
}

.about-section .reward-card:last-of-type .button:hover {
  background: #7a7a7a;
}

.about-section .reward-card:last-of-type .button:active {
  -webkit-transform: scale(1);
          transform: scale(1);
  background: #7a7a7a;
}

footer {
  padding: 4rem 0;
  background: black;
}

footer .attribution {
  color: white;
  text-align: center;
  font-weight: 500;
}

footer .attribution a {
  color: #3cb4ac;
  text-decoration: none;
}

footer .attribution a:hover {
  color: #226763;
}

footer .attribution a:active {
  color: #226763;
}
/*# sourceMappingURL=style.css.map */